body {
    background-color: #242526;
    width: 70%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #B3DEC1;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-shadow: 2px 2px 5px black;
}

p {
    color: #FAF9F6;
}

a {
    color: #B3DEC1;
}

nav{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

nav ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

main {
    display: flex;
}

article {
    width: 30vw;
    font-size: larger;
    padding-left: 10px;
}

.Selfie{
    width: 30vw;
    padding-right: 10px;
    filter: drop-shadow(2px 2px 5px black);
}