/* Desktop */

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

/*
Colors:

White = #EAEBED
Light Blue = #01A7C2
Super Dark Blue = #001220
Pewter Blue = #A3BAC3
Teal Blue = #007090
*/

html, body{
    padding: 0;
    margin: 0;
    background-color: #001220;
}

@font-face{
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face{
    font-family: 'Norton';
    src: url('../fonts/Norton/NORTON__.TTF') format('truetype');
}

header{
    background-color: #001220;
}

#headerSVG{
    position:relative;
}

#headerSVG1{
    visibility: visible;
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 35%;
}

#headerSVG2{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p{
    font-family: 'Raleway';
    font-size: medium;
}

.modeButton {
    display: flex;
    position: absolute;
    z-index: 1000;
    position: sticky;
    top: 0.5vw;
    right: 0.5vw;
    margin: 1vw;
    justify-content: right;
    background: rgba(0,0,0,0);
}

#btn {
    display: flex;
    position:sticky;
    color: #EAEBED;
    font-family: Raleway;
    background-color: #001220;
    border: 1px solid #EAEBED;
}

.about_me{
    position: relative;
    margin: 10vh auto 10vh auto;
    text-align: left;
    line-height: 1.5;
    font-size:larger;
    max-width: 40em;
}

.about_me_header{
    font-family: 'Norton';
    font-size:x-large;
}

.about_me_selfie{
    display: inline-block;
    vertical-align: middle;
}

#projects_link{
    color: inherit;
    text-decoration: none;
}

#projects {
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    max-width: 84em;
    margin: auto;

    /*margin: 3em 3em 0em 3em;
    display: flex;
    flex-wrap: wrap;*/
}

/*#projectstext{
    display:block;
    text-align:center;
    margin-top:2em;
}*/

#projectsectiontitles{
    font-family: Norton;
    font-size: x-large;
    display:block;
    text-align:center;
    margin-top:5em;
    margin-bottom: 3em;
}

.projectwrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0em 1em 3em 1em;
    text-align: center;
    /*flex: 0 0 25%;*/
}

.projectimage{
    display:flex;
    width: 25em;
    height: 15em;
    align-self:center;
}

.projecttitle {
    font-family: Raleway;
    display: flex;
    width: 25em;
    align-self:center;
    justify-content:center;
}

.projectdescription{
    font-family: Raleway;
    display: flex;
    width: 25em;
    height: 15em;
    align-self:center;
    text-align:left;
}

#mybackground {
    font-family:Raleway;
    max-width: 40em;
    margin: 0 auto 5em auto;
    font-size: larger;
    border-left: 1px solid #EAEBED;
}

footer{
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}

#githublogowhite {
    margin: auto;
    position: absolute;
    width: 3em;
    height: 3em;
    margin-left: -1.5em;
}

#githublogoblack {
    margin: auto;
    position: absolute;
    width: 3em;
    height: 3em;
    margin-left: -1.5em;
}

#wiplink {
    position: sticky;
    bottom: 0.5vw;
    background: rgba(0,0,0,0);
    margin: 1vw;
}




/* Mobile */

@media only screen and (max-width: 768px){
    .about_me{
        font-size:medium;
        margin: 10vh 10% 10vh 10%;
    }

    .about_me_header{
        font-size:large;
    }
    
    .about_me_selfie{
        width: 50px;
        height: auto;
    }

    .mybackground{
        font-size:medium;
        margin: 10vh 10% 10vh 10%;
    }

    .projectimage {
        width: 20em;
        height: 12em;
    }

    .projecttitle {
        text-align: center;
        width: 20em;
    }

    .projectdescription {
        width: 20em;
        height: 12em;
    }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape){
    .about_me{
        font-size:medium;
        margin: 10vh 10% 10vh 10%;
    }

    .about_me_header{
        font-size: large;
    }

    .about_me_selfie{
        width: 50px;
        height: auto;
    }

    .mybackground {
        font-size: medium;
        margin: 10vh 10% 10vh 10%;
    }

    .projectimage {
        width: 20em;
        height: 12em;
    }

    .projecttitle {
        text-align: center;
        width: 20em;
    }

    .projectdescription {
        width: 20em;
        height: 12em;
    }
}