/* Desktop */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*
Colors:

White = #EAEBED
Light Blue = #01A7C2
Super Dark Blue = #001220
Pewter Blue = #A3BAC3
Teal Blue = #007090
*/

html, body {
    padding: 0;
    margin: 0;
    background-color: #001220;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Norton';
    src: url('../fonts/Norton/NORTON__.TTF') format('truetype');
}

header {
    background-color: #001220;
}

.modeButton {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1vw;
}

.backtohome{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1vw;
}

h1 {
    text-align: center;
}

img {
    display: block;
    width: 45%;
    height: 25.3125%;
    margin: 3em auto 3em auto;
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    font-size: larger;
}




/* Mobile */

@media only screen and (max-width: 768px) {
    /*.about_me {
        font-size: medium;
        margin: 10vh 10% 10vh 10%;
    }

    .about_me_header {
        font-size: large;
    }

    .about_me_selfie {
        width: 50px;
        height: auto;
    }

    .mybackground {
        font-size: medium;
        margin: 10vh 10% 10vh 10%;
    }

    .projectimage {
        width: 20em;
        height: 12em;
    }

    .projecttitle {
        text-align: center;
        width: 20em;
    }

    .projectdescription {
        width: 20em;
        height: 12em;
    }*/

    img{
        width: 90%;
        height: auto;
    }

    p {
        width: 100%;
        font-size: medium;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    /*.about_me {
        font-size: medium;
        margin: 10vh 10% 10vh 10%;
    }

    .about_me_header {
        font-size: large;
    }

    .about_me_selfie {
        width: 50px;
        height: auto;
    }

    .mybackground {
        font-size: medium;
        margin: 10vh 10% 10vh 10%;
    }

    .projectimage {
        width: 20em;
        height: 12em;
    }

    .projecttitle {
        text-align: center;
        width: 20em;
    }

    .projectdescription {
        width: 20em;
        height: 12em;
    }*/

    img{
        width: 50%;
        height: auto;
    }

    p {
        width: 100%;
        font-size: medium;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}
