/* Desktop */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*
Colors:

White = #EAEBED
Light Blue = #01A7C2
Super Dark Blue = #001220
Pewter Blue = #A3BAC3
Teal Blue = #007090
*/

html, body {
    padding: 0;
    margin: 0;
    background-color: #001220;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Norton';
    src: url('../fonts/Norton/NORTON__.TTF') format('truetype');
}

header {
    background-color: #001220;
    max-width: 84em;
    margin-left: auto;
    margin-right: auto;
}

.modeButton {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1vw;
}

.backtohome{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1vw;
}

h1 {
    text-align: center;
}

img {
    display: block;
    width: 75%;
    height: 25.3125%;
    margin: 3em auto 3em auto;
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size:larger;
}




/* Mobile */

@media only screen and (max-width: 768px) {
    img{
        width: 90%;
        height: auto;
    }

    p {
        width: 90%;
        font-size: medium;
    }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    img{
        width: 50%;
        height: auto;
    }

    p {
        width: 50%;
        font-size: medium;
    }
}
